body,
html {
  background-color: rgb(202, 202, 202);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}

.rndTextInput {
  all: unset;
  color: white;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.rndCheckInput {
  all: unset;
  width: 100%;
}
